.login__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: max(100vh, 100vh);
	background: linear-gradient(45deg, var(--primary-dark), var(--primary-light));
}

.login__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: palegoldenrod;
	max-width: 100vw;
	min-width: 65vw;
}


.separator {
	position: relative;
	text-transform: uppercase;
}

.separator::before,
.separator::after {
	content: '';
	position: absolute;
}

.separator::before { left: 0; }
.separator::after { right: 0; }