/* Oswald: 200, 400, 600 */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

:root {
	--primary-dark: rgb(64, 21, 42);
	--primary-light: rgb(255, 84, 53);
}

* {
	box-sizing: border-box;
	outline: none;
}

body, h2, h1, ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: Oswald, sans-serif;
	font-size: calc(.5rem + 1vh);
	letter-spacing: 1px;
}

h2, h1, a { text-transform: uppercase; }
a { text-decoration: none; }